<div class="form-group row">
  <label for="attachment" class="col-sm-2 col-form-label">Attachment</label>
  <div class="col-sm-10">
    <input type="file" class="form-control-file" id="attachment" name="attachments[]">
  </div>
</div>