<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Tickets</h1>
    </div>
    <div class="col-12">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Subject</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Created at</th>
            <th scope="col">Updated at</th>
          </tr>
        </thead>
        <tbody>
          <% @tickets.each do |ticket| %>
            <tr>
              <th scope="row"><%= ticket.id %></th>
              <td><%= link_to ticket.subject, ticket_path(ticket.id) %></td>
              <td><%= ticket.priority %></td>
              <td><%= ticket.status %></td>
              <td><%= ticket.created_at %></td>
              <td><%= ticket.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>