<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Ticket #<%= @ticket.id %></h1>
      <h2><%= link_to 'Back to Tickets', tickets_path %></h2>
      <div class="form-group row">
        <label for="subject" class="col-sm-2 col-form-label">Subject</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="subject" value="<%= @ticket.subject %>">
        </div>
      </div>
      <div class="form-group row">
        <label for="priority" class="col-sm-2 col-form-label">Priority</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="priority" value="<%= @ticket.priority %>">
        </div>
      </div>
      <div class="form-group row">
        <label for="status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="status" value="<%= @ticket.status %>">
        </div>
      </div>
      <div class="form-group row">
        <label for="created_at" class="col-sm-2 col-form-label">Created at</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="created_at" value="<%= @ticket.created_at %>">
        </div>
      </div>
      <div class="form-group row">
        <label for="updated_at" class="col-sm-2 col-form-label">Updated at</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control" id="updated_at" value="<%= @ticket.updated_at %>">
        </div>
      </div>
    </div>
    <div class="col-12">
      <h2>Comments</h2>
      <br>
      <% @ticket.comments.each do |comment| %>
        <div class="media">
          <% if comment&.author&.photo&.content_url %>
            <img width="40px" height="40px" src="<%= comment&.author&.photo&.content_url %>" class="mr-3" alt="<%= comment&.author&.photo&.content_url %>">
          <% else %>
            <img width="40px" height="40px" src="<%= asset_path('anonymous.png') %>" class="mr-3" alt="<%= asset_path('anonymous.png') %>">
          <% end %>
          <div class="media-body">
            <h5 class="mt-0"><%= comment.author.name %></h5>
            <%= comment.html_body.html_safe %>
            <ul class="list-unstyled">
              <% comment.attachments.each do |attachment| %>
                <li class="media">
                  <% if attachment.width.present? %>
                    <img height="64px" width="64px" src="<%= attachment.content_url %>" alt="<%= attachment.file_name %>" class="mr-3 rounded-sm">
                  <% else %>
                    <img height="64px" width="64px" src="<%= asset_path('file') %>" alt="<%= attachment.file_name %>" class="mr-3 rounded-sm">
                  <% end %>
                  <%= link_to attachment.file_name, attachment.content_url %>
                </li>
              <% end %>
            </ul>
            <div class="small">
              <%= comment.created_at %>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
      <form action="<%= ticket_comments_path(@ticket.id) %>" method="post" enctype="multipart/form-data">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-group row">
          <label for="body" class="col-sm-2 col-form-label">Comment</label>
          <div class="col-sm-10">
            <textarea placeholder="Place your comment here" class="form-control" id="body" rows="5" name="body"></textarea>
          </div>
        </div>
        <div id="attachments">
          <%= render 'new_attachment' %>
        </div>
        <%= link_to 'Add new attachment', new_ticket_comment_path(@ticket.id, format: :js), remote: true, class: 'btn btn-secondary mb-2' %>
        <button type="submit" class="btn btn-primary mb-2">Comment</button>
      </form>
    </div>
  </div>
</div>